@font-face {
    font-family: booter;
    src: url(font/BOOTERFF.ttf);
}

@import url("https://fonts.googleapis.com/css2? family= Caprasimo & family= Handjet:wght@300 & display=swap");

/*font-family: 'Caprasimo', cursive;
  font-family: 'Handjet', cursive;
  */
$color1: red;
$color2: pink;
$color3: green;
$color4: rgba(63, 53, 58, 0.538);
$color5: white;
$color6: black;
$font1: booter;
$font2: Verdana, Geneva, Tahoma, sans-serif;
$zise1: 15px;
$zise2: 20px;
$zise3: 25px;



h1{
    text-shadow: 3px 8px  #00000054;
}
.icon{
    box-shadow: 5px 12px  #00000054; 
}
.cartel marquee {
    color: white;
    padding: 40px;
    margin-top: 30px;
}


.logo span {
    color: black;
}


.body-home {
    background-image: url(../multimedia/biomagnetismo.jpg);
    background-size: cover;
    background-position: center;
  
}
.main-home {
    height: 300px;

    background-color: $color4;
    background-image: url(../multimedia/biomagnetismo.jpg);
    background-size: cover;
    background-position: center;
}

audio {
    padding: $zise2;
}
.call-home {
    color: $color5;
    width: 70%;
    background-color: rgba(156, 59, 59, 0.679);
    border: 4px solid black;
    padding: $zise2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    margin: 30px;
}

.h2-home {
    color: $color1;
    margin-bottom: 20px;
}
.p-home {
    border: 3px solid black;
    padding: $zise2;
    font-family: "Times New Roman", Times, serif;
    color: $color5;
}

.parr a {
    text-decoration: none;
    color: $color1;
}
.call-home a {
    background-color: $color1;
    color: $color5;
    text-decoration: none;
    padding: 10px $zise2;
}
.call-home a:hover {
    background-color: maroon;
}
p {
    color: $color2;
}
.foto-1 {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.foto-2 {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

@media only screen and (min-width: 320px) and (max-widht: 520px) {
   
   
    
   
   
}
@media only screen and (min-width: 521px) and (max-width: 560px){
    .cont{
        width: 550px;

    }
    .conta{
        width: 550px;
    }
}
@media only screen and (min-width: 1150px) {
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    background-color: brown;
}
footer a {
    text-decoration: none;
    color: black;
    font-size: $zise2;
}
.pie {
    margin-top: $zise2;
    margin: 80px;
    text-align: center;
}
.whatsapp {
    height: 30px;

    background-color: $color3;
    color: $color5;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: $zise3;
}
.whatsapp a {
    color: $color5;
}
.leg a {
    margin-left: $zise2;
    color: black;
}
.largo {
    color: $color5;
    font-size: 15px;
    margin: $zise2 $zise2 $zise2 $zise2;
}
/*empieza contacto*/

body.body-contacto {
   

    background-image: url(../multimedia/fondo-contaco.jpg);
    background-size: cover;
    background-position: center;
}
.h2-contacto {
    font-size: 60px;

    margin: $zise2;
}


.contenedor {
    background-color: rgba(255, 0, 0, 0.534);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
        "img1 img2 img3 img3"
        "img1 img4 img5 img6"
        "img7 img4 img8 img8";
    grid-gap: $zise1;
    padding: $zise2;
    border-radius: 10px;
}

.item1 {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    transition: all 0.9s;
    border: 2px solid black;
}
.item1:hover {
    transform: scale(1.09);
}
.item1 {
    background-image: url(../multimedia/contacto1.jpg);
    grid-area: img1;
}
.item2 {
    background-image: url(../multimedia/contacto2.jpg);
    grid-area: img2;
}
.item3 {
    background-image: url(../multimedia/contacto3.jpg);
    grid-area: img3;
}
.item4 {
    background-image: url(../multimedia/contacto4.jpg);
    grid-area: img4;
}
.item5 {
    background-image: url(../multimedia/contacto5.jpg);
    grid-area: img5;
}
.item6 {
    background-image: url(../multimedia/contacto6.jpg);
    grid-area: img6;
}
.item7 {
    background-image: url(../multimedia/contacto7.jpg);
    grid-area: img7;
}
.item8 {
    background-image: url(../multimedia/contacto8.jpg);
    grid-area: img8;
}
.parr-cont {
    color: $color6;
}
@media only screen and (min-width: 250px) and (max-width: 520px) {
    .contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 200px);
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7"
            "img8";
    }
    form.turno{
        width: 350px;
    }
    .whatsapp {

        padding-left: 15px;
        padding-right: 15px;
       
    }
   
}
@media only screen and (min-width: 521px) and (max-width: 560px) {
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
    }
    
    
}
@media only screen and (min-width: 1024px) {
    .contenedor {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 200px);
    }
}

.parr {
    color: $color5;
}
a {
    text-decoration: none;
    color: $color5;
}

h3 {
    text-align: center;
}

.pie {
    color: $color5;
    text-align: center;
}

.turno {
    width: 500px;
    background-color: $color1;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: calibri;
    color: $color5;
    box-shadow: 7px 13px 37px #000;
}
.turno h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
.controls {
    width: 100%;
    background: rgb(221, 170, 170);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid $color6;
    font-family: calibri;
    font-size: 18px;
    color: white;
}

.turno p {
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}
.turno a {
    color: $color5;
    text-decoration: none;
}
.turno a:hover {
    color: $color5;
    text-decoration: underline;
}
.turno .button {
    width: 100%;
    background: rgb(200, 81, 81);
    border: none;
    padding: 12px;
    color: $color5;
    margin: 16px 0;
    font-size: 16px;
}
.turno .button:hover {
    background: rgb(31, 28, 28);
}

/*empieza Ubicacion*/

.nav-item:hover {
    background-color: #333;
    border-radius: 10px;
}
.collapse {
    display: flex;
    justify-content: end;
}
.jumbotron {
    background-image: url(../multimedia/consultorio.jpg);
    background-position: center;
    background-size: cover;
}
.nav-link {
    color: $color5 !important;
}
.ubic {
    color: $color5;
}
.ubicacion {
    height: 50px;
    text-align: center;
    border: 2px solid rgb(49, 5, 5);
    margin-bottom: 0;
}
.nleft {
    height: 400px;
    background-image: url(../multimedia/con2.jpg);
    background-position: center;
    background-size: cover;
}
.footer-ubicacion {
    height: 200px;
    padding: $zise2;
}
@media only screen and (min-width: 320px) and (max-width: 450px) {
    .footer-ubicacion {
        height: 400px;
    }
}

/*empieza informacion*/

.body-info {
    background-image: linear-gradient(to left, $color1, $color2, $color1);
    background-position: center;

    padding: 30px;
}
header {
    height: 200px;
}

.inicio a {
    background-color: $color1;
    color: $color5;
    text-decoration: none;
    padding: $zise2;
    border-radius: 10px;
    position: fixed;
    right: 40px;
    bottom: 40px;
}

h2.info {
    text-align: center;
    font-family: "Oswald", sans-serif;
    padding: $zise2;
    color: rgb(42, 4, 4);
    border: 2px solid rgb(42, 4, 4);
}
.galeria {
    background-color: $color2;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 200px);
    padding: $zise2;
    grid-gap: 10px;
}
.item {
    background-position: center;
    background-size: cover;
    border: 2px solid blue;
    border-radius: 10px;
    transition: all 0.9s;
}
.item:hover {
    transform: scale(1.09);
}

.item9 {
    background-image: url(../multimedia/info1.jpg);
}
.item10 {
    background-image: url(../multimedia/info2.jpg);
}
.item11 {
    background-image: url(../multimedia/info3.jpg);
}
.item12 {
    background-image: url(../multimedia/info4.jpg);
}
.item13 {
    background-image: url(../multimedia/info5.jpg);
}
.item14 {
    background-image: url(../multimedia/info6.jpg);
}
.item15 {
    background-image: url(../multimedia/info7.jpg);
}
.item16 {
    background-image: url(../multimedia/info8.jpg);
}
.anima {
    display: flex;
    padding: $zise2;
    margin-left: 50px;
}

.c1 {
    background-color: $color1;
    transform: rotateY(0deg);
    transition: all 2s;
}
.c1:hover {
    transform: rotateY(180deg);
}
.c2 {
    background-color: $color1;
    transform: rotateY(0deg);
    transition: all 2s;
}
.c2:hover {
    transform: rotateY(180deg);
}
.c3 {
    background-color: $color1;
    transform: rotateY(0deg);
    transition: all 2s;
}
.c3:hover {
    transform: rotateY(180deg);
}
.c4 {
    background-color: $color1;
    transform: rotateY(0deg);
    transition: all 2s;
}
.c4:hover {
    transform: rotateY(180deg);
}
.c5 {
    background-color: $color1;
    transform: rotateY(0deg);
    transition: all 2s;
}
.c5:hover {
    transform: rotateY(180deg);
}

.box {
    border: solid $color1 3px;
    font-size: $zise3;
    border-radius: 10px;
}
.box2 {
    border: solid $color1 3px;
    font-size: $zise3;
    border-radius: 10px;
}
@mixin zise($width, $height, $bgcolor, $color) {
    width: $width;
    height: $height;
    background-color: $bgcolor;
    color: $color;
}
.box {
    @include zise(643px, 300px, $color2, $color4);
}
.box2 {
    @include zise(643px, 300px, $color2, $color4);
}

@media only screen and (min-width: 320px) and (max-width: 655px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }

    .box {
        font-size: 16px;
    }
    .box2 {
        font-size: 16px;
        width: 80%;
    }
    .box {
        @include zise(320px, 290px, $color2, $color5);
    }
    .box2 {
        @include zise(320px, 290px, $color2, $color5);
    }
}
@media only screen and (min-width: 656px) and (max-width: 1023px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }

    .item1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item2 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item4 {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .item5 {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .item6 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .item7 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .item8 {
        grid-column: 2/4;
        grid-row: 4/5;
    }
}
@media only screen and (min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 200px);
    }
}

p {
    padding: $zise2;
    color: $color6;
    font-weight: 200;
}

.footer-info {
    background-color: $color2;

    a {
        margin: $zise2;
        text-decoration: none;
        padding: $zise2;
    }
}

/*empieza terapeutas */

.logo {
    color: $color5;
    font-family: "Barriecito";
    font-weight: bold;
    font-size: 50px;
}

.main-ter {
    height: calc(100vh - 80px);
    background-image: url(../multimedia/fondoter.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.h1-ter {
    color: rgb(61, 42, 42);
    margin-bottom: $zise2;
    text-shadow: 1px 1px 0px $color5;
    height: 50px;
}
.call p {
    margin-bottom: $zise2;
}
.call {
    background-color: rgba(255, 0, 0, 0.485);
    height: 80%;
    width: 65%;
    padding: $zise2;
    text-shadow: 2px 2px 5px $color5;
    border-radius: 8px;
}

.call a {
    background-color: $color1;
    color: $color5;
    padding: 10px $zise2;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid black;
}
.call a:hover {
    color: $color4;
    border: 2px solid $color5;
    background-color: $color2;
}
.ter {
    text-align: center;
    background-color: $color1;
    font-size: 30px;
    padding: $zise2;
}
section {
    display: flex;
    height: 700px;
    background-image: linear-gradient(to left, $color1, $color2, brown);
    justify-content: space-evenly;
    align-items: center;
}
.card {
    background-color: $color2;
    height: 650px;
    width: 30%;
    border: 2px solid $color6;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px $color5;
    transform: rotateY(0deg);
    transition: all 3s;
}
.card:hover {
    transform: rotateY(180deg);
}

.card-img {
    height: 200px;
    width: 100%;
    background-image: url(../multimedia/mujer.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.card1-img {
    height: 200px;
    width: 100%;
    background-image: url(../multimedia/hombre.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px, 0px, 10px, 10px;
}

.card h2 {
    color: $color2;
}
.card h3 {
    font-size: $zise3;
}
.card p {
    padding: $zise1;
}
.card .redes a {
    color: $color1;
    font-size: 35px;
    letter-spacing: 13px;
}

body {
    background-color: $color2;
}

.ult {
    border: 2px solid $color6;
    padding: $zise2;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: $zise1;
    color: $color1;
}
.footer-ter {
    background-color: brown;

    text-align: center;
}
.footer-ter a {
    text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 780px) {
    header {
        margin-bottom: 20px;
    }
    .call {
        height: 120%;
    }
    .main-ter {
        height: 100vh;
    }

    .logo {
        font-size: $zise2;
    }
    .barra a {
        margin: $zise2;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    .card {
        width: 35%;
        height: 800px;
        margin: 15px;
    }
    .card p {
        font-size: $zise1;
    }
    .terapeutas-cards {
        height: 800px;
    }
    .ter {
        font-size: 16px;
    }
}
/*empieza noticias*/
