@import url("https://fonts.googleapis.com/css2? family= Caprasimo & family= Handjet:wght@300 & display=swap");
@font-face {
  font-family: booter;
  src: url(font/BOOTERFF.ttf);
}
/*font-family: 'Caprasimo', cursive;
  font-family: 'Handjet', cursive;
  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgba(63, 53, 58, 0.538);
  height: 80px;
  font-weight: 300;
  font-family: booter;
  font-size: 15px;
  padding: 30px;
}

h1 {
  background-color: red;
  text-align: center;
}

.cartel marquee {
  color: white;
  padding: 40px;
  margin-top: 30px;
}

.logo {
  float: left;
  color: red;
}

.logo span {
  color: black;
}

.cartel {
  font-style: normal;
}

.body-home {
  background-image: url(../multimedia/biomagnetismo.jpg);
  background-size: cover;
  background-position: center;
}

.main-home {
  height: 300px;
  background-color: rgba(63, 53, 58, 0.538);
  background-image: url(../multimedia/biomagnetismo.jpg);
  background-size: cover;
  background-position: center;
}

audio {
  padding: 20px;
}

.call-home {
  color: white;
  width: 70%;
  background-color: rgba(156, 59, 59, 0.679);
  border: 4px solid black;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  margin: 30px;
}

.h2-home {
  color: red;
  margin-bottom: 20px;
}

.p-home {
  border: 3px solid black;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.parr a {
  text-decoration: none;
  color: red;
}

.call-home a {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.call-home a:hover {
  background-color: maroon;
}

p {
  color: pink;
}

.foto-1 {
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.foto-2 {
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-home {
  background-color: red;
}

@media only screen and (min-width: 320px) and (max-widht: 488px) {
  .body-home {
    width: 200px;
  }
  .p {
    font-size: 4px;
  }
}
@media only screen and (min-width: 768px) {
  .cont {
    width: 1200px;
  }
  .conta {
    width: 1200px;
  }
  .body-home {
    width: 1200px;
  }
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  background-color: brown;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.pie {
  margin-top: 20px;
  margin: 80px;
  text-align: center;
}

.whatsapp {
  height: 30px;
  background-color: green;
  color: white;
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
}

.whatsapp a {
  color: white;
}

.leg a {
  margin-left: 20px;
  color: black;
}

.largo {
  color: white;
  font-size: 15px;
  margin: 20px 20px 20px 20px;
}

/*empieza contacto*/
body.body-contacto {
  height: 100vp;
  background-image: url(../multimedia/fondo-contaco.jpg);
  background-size: cover;
  background-position: center;
}

.h2-contacto {
  font-size: 60px;
  margin: 20px;
}

.contenedor {
  background-color: rgba(255, 0, 0, 0.534);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8";
  grid-gap: 15px;
  padding: 20px;
  border-radius: 10px;
}

.item1 {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  transition: all 0.9s;
  border: 2px solid black;
}

.item1:hover {
  transform: scale(1.09);
}

.item1 {
  background-image: url(../multimedia/contacto1.jpg);
  grid-area: img1;
}

.item2 {
  background-image: url(../multimedia/contacto2.jpg);
  grid-area: img2;
}

.item3 {
  background-image: url(../multimedia/contacto3.jpg);
  grid-area: img3;
}

.item4 {
  background-image: url(../multimedia/contacto4.jpg);
  grid-area: img4;
}

.item5 {
  background-image: url(../multimedia/contacto5.jpg);
  grid-area: img5;
}

.item6 {
  background-image: url(../multimedia/contacto6.jpg);
  grid-area: img6;
}

.item7 {
  background-image: url(../multimedia/contacto7.jpg);
  grid-area: img7;
}

.item8 {
  background-image: url(../multimedia/contacto8.jpg);
  grid-area: img8;
}

.parr-cont {
  color: black;
}

@media only screen and (min-width: 250px) and (max-width: 520px) {
  .contenedor {
    grid-template-columns: 500px;
    grid-template-rows: repeat(8, 200px);
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8";
  }
  .cont {
    width: 450px;
  }
  .turno {
    width: 300px;
  }
  .conta {
    width: 450px;
  }
}
@media only screen and (min-width: 521px) and (max-width: 1023px) {
  .contenedor {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
  }
}
@media only screen and (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
  }
}
.parr {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  text-align: center;
}

.pie {
  color: white;
  text-align: center;
}

.turno {
  width: 500px;
  background-color: red;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: calibri;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.turno h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: rgb(200, 81, 81);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-family: calibri;
  font-size: 18px;
}

.turno p {
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

.turno a {
  color: white;
  text-decoration: none;
}

.turno a:hover {
  color: white;
  text-decoration: underline;
}

.turno .button {
  width: 100%;
  background: rgb(200, 81, 81);
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.turno .button:hover {
  background: rgb(31, 28, 28);
}

/*empieza Ubicacion*/
.nav-item:hover {
  background-color: #333;
  border-radius: 10px;
}

.collapse {
  display: flex;
  justify-content: end;
}

.jumbotron {
  background-image: url(../multimedia/consultorio.jpg);
  background-position: center;
  background-size: cover;
}

.nav-link {
  color: white !important;
}

.ubic {
  color: white;
}

.ubicacion {
  height: 50px;
  text-align: center;
  border: 2px solid rgb(49, 5, 5);
  margin-bottom: 0;
}

.nleft {
  height: 400px;
  background-image: url(../multimedia/con2.jpg);
  background-position: center;
  background-size: cover;
}

.footer-ubicacion {
  height: 200px;
  padding: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  .footer-ubicacion {
    height: 400px;
  }
}
/*empieza informacion*/
.body-info {
  background-image: linear-gradient(to left, red, pink, red);
  background-position: center;
  padding: 30px;
}

header {
  height: 200px;
}

.inicio a {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  right: 40px;
  bottom: 40px;
}

h2.info {
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 20px;
  color: rgb(42, 4, 4);
  border: 2px solid rgb(42, 4, 4);
}

.galeria {
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 200px);
  padding: 20px;
  grid-gap: 10px;
}

.item {
  background-position: center;
  background-size: cover;
  border: 2px solid blue;
  border-radius: 10px;
  transition: all 0.9s;
}

.item:hover {
  transform: scale(1.09);
}

.item9 {
  background-image: url(../multimedia/info1.jpg);
}

.item10 {
  background-image: url(../multimedia/info2.jpg);
}

.item11 {
  background-image: url(../multimedia/info3.jpg);
}

.item12 {
  background-image: url(../multimedia/info4.jpg);
}

.item13 {
  background-image: url(../multimedia/info5.jpg);
}

.item14 {
  background-image: url(../multimedia/info6.jpg);
}

.item15 {
  background-image: url(../multimedia/info7.jpg);
}

.item16 {
  background-image: url(../multimedia/info8.jpg);
}

.anima {
  display: flex;
  padding: 20px;
  margin-left: 50px;
}

.c1 {
  background-color: red;
  transform: rotateY(0deg);
  transition: all 2s;
}

.c1:hover {
  transform: rotateY(180deg);
}

.c2 {
  background-color: red;
  transform: rotateY(0deg);
  transition: all 2s;
}

.c2:hover {
  transform: rotateY(180deg);
}

.c3 {
  background-color: red;
  transform: rotateY(0deg);
  transition: all 2s;
}

.c3:hover {
  transform: rotateY(180deg);
}

.c4 {
  background-color: red;
  transform: rotateY(0deg);
  transition: all 2s;
}

.c4:hover {
  transform: rotateY(180deg);
}

.c5 {
  background-color: red;
  transform: rotateY(0deg);
  transition: all 2s;
}

.c5:hover {
  transform: rotateY(180deg);
}

.box {
  border: solid red 3px;
  font-size: 25px;
  border-radius: 10px;
}

.box2 {
  border: solid red 3px;
  font-size: 25px;
  border-radius: 10px;
}

.box {
  width: 643px;
  height: 300px;
  background-color: pink;
  color: rgba(63, 53, 58, 0.538);
}

.box2 {
  width: 643px;
  height: 300px;
  background-color: pink;
  color: rgba(63, 53, 58, 0.538);
}

@media only screen and (min-width: 320px) and (max-width: 655px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
  .box {
    font-size: 16px;
  }
  .box2 {
    font-size: 16px;
    width: 80%;
  }
  .box {
    width: 320px;
    height: 290px;
    background-color: pink;
    color: white;
  }
  .box2 {
    width: 320px;
    height: 290px;
    background-color: pink;
    color: white;
  }
}
@media only screen and (min-width: 656px) and (max-width: 1023px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item8 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
}
@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
}
p {
  padding: 20px;
  color: black;
  font-weight: 200;
}

.footer-info {
  background-color: pink;
}
.footer-info a {
  margin: 20px;
  text-decoration: none;
  padding: 20px;
}

/*empieza terapeutas */
.logo {
  color: white;
  font-family: "Barriecito";
  font-weight: bold;
  font-size: 50px;
}

.main-ter {
  height: calc(100vh - 80px);
  background-image: url(../multimedia/fondoter.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.h1-ter {
  color: rgb(61, 42, 42);
  margin-bottom: 20px;
  text-shadow: 1px 1px 0px white;
  height: 50px;
}

.call p {
  margin-bottom: 20px;
}

.call {
  background-color: rgba(255, 0, 0, 0.485);
  height: 80%;
  width: 65%;
  padding: 20px;
  text-shadow: 2px 2px 5px white;
  border-radius: 8px;
}

.call a {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  border: 2px solid black;
}

.call a:hover {
  color: rgba(63, 53, 58, 0.538);
  border: 2px solid white;
  background-color: pink;
}

.ter {
  text-align: center;
  background-color: red;
  font-size: 30px;
  padding: 20px;
}

section {
  display: flex;
  height: 700px;
  background-image: linear-gradient(to left, red, pink, brown);
  justify-content: space-evenly;
  align-items: center;
}

.card {
  background-color: pink;
  height: 650px;
  width: 30%;
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px white;
  transform: rotateY(0deg);
  transition: all 3s;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-img {
  height: 200px;
  width: 100%;
  background-image: url(../multimedia/mujer.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.card1-img {
  height: 200px;
  width: 100%;
  background-image: url(../multimedia/hombre.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0px, 0px, 10px, 10px;
}

.card h2 {
  color: pink;
}

.card h3 {
  font-size: 25px;
}

.card p {
  padding: 15px;
}

.card .redes a {
  color: red;
  font-size: 35px;
  letter-spacing: 13px;
}

body {
  background-color: pink;
}

.ult {
  border: 2px solid black;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  color: red;
}

.footer-ter {
  background-color: brown;
  text-align: center;
}

.footer-ter a {
  text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 780px) {
  header {
    margin-bottom: 20px;
  }
  .call {
    height: 120%;
  }
  .main-ter {
    height: 100vh;
  }
  .logo {
    font-size: 20px;
  }
  .barra a {
    margin: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  .card {
    width: 35%;
    height: 800px;
    margin: 15px;
  }
  .card p {
    font-size: 15px;
  }
  .terapeutas-cards {
    height: 800px;
  }
  .ter {
    font-size: 16px;
  }
}
/*empieza noticias*/

/*# sourceMappingURL=bio.css.map */
